<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>


<p>投稿に成功したら表示される画面だよ</p>


<h3>User info</h3>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h2>name:<%= @user.name %></h2>
  <h2>introduction:--</h2>

</div>
<!--新規投稿フォーム-->


<h1>New book</h1>
<%= form_with model: Book.new, url: books_path do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>



<!--投稿したデータの確認-->
<h1>Book detail</h1>


<h1>Submitted data</h1>
<p><%= @book.title %></p>
<p><%= @book.body %></p>
<p>Edit</p>
<p>destroy</p>


<p><%= @user.name %></p>